<!DOCTYPE HTML>
<html>
<head>
    <title> 서초에서 오늘 뭐벅? </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>

<body>
    <h1>서초에서 오늘 뭐벅?</h1>

    <div class="col-md-12">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#savePostsModal">레스토랑 등록</button>
    <br>
    <br>

    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>번호</th>
            <th>레스토랑명</th>
            <th>주소</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#each restaurant}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{address}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    </div>

    <div class="modal fade" id="savePostsModal" tabindex="-1" role="dialog" aria-labelledby="savePostsLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="savePostsLabel">레스토랑 등록</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name">레스토랑명</label>
                            <input type="text" class="form-control" id="name" placeholder="레스토랑명을 입력하세요">
                        </div>
                        <div class="form-group">
                            <label for="address">주소</label>
                            <input type="text" class="form-control" id="address" placeholder="주소를 입력하세요">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn-save">등록</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>

    <script src="/js/app/main.js"></script>
</body>
</html>